* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2b2a33;
  padding: 2.4rem;
}

.cards {
  margin: 0 auto;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}


.card {
  background-color: #42414d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.4rem 4.8rem;
  border-radius: 0.7em;
}

.card h1 {
  font-size: 3.2rem;
  color: #f6f6f6;
  margin-bottom: 1.2rem;
  font-weight: normal;
}

.features {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  lis
}

.price {
  margin-bottom: 4.8rem;
  font-size: 4.4rem;
  color: #f6f6f6;
  font-weight: bold;
}


.btn {
  border: 2px solid #219C90;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 1rem 6rem;
  border-radius: 0.3em;
  color: #fff;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}

.btn.primary {
  background-color: #219C90;
}

.btn:hover {
  background-color: #219C90;
  box-shadow: 0 0 12px 2px #219C90;
  cursor: pointer;
}


@media (min-width: 1000px) {
  .cards {
    flex-direction: row;
  }

  .card {
    justify-content: flex-end;
  }

  .btn {
    padding: 1rem 3rem;

  }
}