* {
  box-sizing: border-box;
}


body {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

main {
  flex: 1;
}

footer p {
  text-align: right;
  color: rgba(70, 50, 200);
}


.logo {
  font-style: italic;
  color: orangered;
  margin-bottom: 20px;
}

.blue-text {
  color: rgba(70, 50, 200);
}

.left,
.right {
  width: 45%;
}


.left,
.left img {
  float: left;
  margin-right: 20px;
}

.right {
  float: left;
}

.right img {
  float: left;
  margin-right: 20px;
}


@media (max-width: 700px) {

  .left,
  .right,
  .left img,
  .right img {
    width: 100%;

    margin-bottom: 20px;
  }

  .left,
  .right {
    text-align: justify;
  }

  h2 {
    clear: both;
  }

  p {
    line-height: 1.5;
  }

}