* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img,
input {
  display: block;
  width: 100%;
}

input,
button,
a {
  font-family: inherit;
}

.container {
  max-width: 60rem;
  width: 80%;
  margin: 10rem auto;
  padding: 0 2rem;
}

h1,
h2 {
  font-size: 4rem;
  font-family: "Menlo";
  text-align: center;
  cursor: pointer;
  position: relative;
}

h1 {
  overflow: hidden;
  background-color: #000;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
}

h1::after {
  content: "@DERSUPROGG";
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: -100%;
  right: 0;
  transition: all 0.3s ease-in;
  background-color: #fff;
  color: #000;
}

h1:hover::after {
  bottom: 0;
}

h1:hover .first {
  transform: translateY(-100%);
}

.first,
.second {
  display: block;
  transition: all 0.3s ease-in;
}

h2 {
  overflow: hidden;
  position: relative;
  /* background-color: red; */
  /* width: fit-content; */
  /* background-color: red; */
  width: fit-content;
  margin: 0 auto;
}

h2:hover::after {
  transform: translateX(0);
}

h2::after {
  content: "@DERSUPROGG";
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
  transform: translateX(150%);
  background-color: black;
  color: #fff;
  text-align: center;
}

h2:hover .second {
  transform: translateX(-100%);
}
