* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #2b2a33;
}

.container {
  max-width: 30rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #ccc;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.first {
  position: relative;
  padding-bottom: 7px;
}

.first::after {
  content: "";
  display: block;
  height: 0;
  background-color: #00d9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
}

.first:hover::after {
  height: 4px;
}

.second {
  position: relative;
  padding-bottom: 7px;
}

.second::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #00d9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  transform: scaleY(0);
}

.second:hover::after {
  transform: scaleY(1);
}

.third {
  position: relative;
  padding-bottom: 7px;
}

.third::after {
  content: "";
  display: block;
  background-color: #00d9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  height: 4px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.third:hover::after {
  transform: scaleX(1);
}

.fourth {
  position: relative;
  padding-bottom: 7px;
}

.fourth::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #00d9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  transform-origin: left;
  transform: scaleX(0);
}

.fourth:hover::after {
  transform: scaleX(1);
}

.fifth {
  position: relative;
  padding-bottom: 7px;
}

.fifth::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #00d9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: transform 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}

.fifth:hover::after {
  transform: scaleX(1);
}

.sixth {
  position: relative;
  padding-bottom: 7px;
  padding-top: 7px;
}

.sixth::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #63fd3d;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  transform-origin: left;
  transform: scaleX(0);
}

.sixth::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #63fd3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  transform-origin: left;
  transform: scaleX(0);
}

.sixth:hover::after,
.sixth:hover::before {
  transform: scaleX(1);
}

.seventh {
  position: relative;
  padding-bottom: 7px;
  padding-top: 7px;
}

.seventh::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #63fd3d;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}

.seventh::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #63fd3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}

.seventh:hover::after,
.seventh:hover::before {
  transform: scaleX(1);
}
